<div class="drop-down-holder">
    {{show}}
    <div class="custom-drop"  (click) = "changeStatus()">
        <p>{{selectValue}}</p>
        <img src="../../assets/images/arrow.png">
    </div>
    <ul [ngClass]="{'isActive' :isActive}">
        <li *ngFor="let number of numberOfPeople" (click)="setSelectValue(number.viewValue)">{{number.viewValue}}</li>
    </ul>
</div>