.booking-holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  #bookBtn{
    margin-top: 20px;
    display: flex;
    align-self: center;
    width: 180px;
    justify-content: center;
  }
  .date-picker-holder{
    display: flex;
    position: relative;
    .toogle-date{
      position: absolute;
      right: 0;
      top: 20px;
    }
  }
}


