<div class="booking-holder">
  <!--number of people-->
  <numberOfPeople [show]="showTest" (showOutput)="statusBla($event)"></numberOfPeople>
  <md-form-field class="date-picker-holder">
    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" >
    <md-datepicker-toggle mdSuffix [for]="picker" class="toogle-date"></md-datepicker-toggle>
    <md-datepicker #picker></md-datepicker>
  </md-form-field>
  <timeSelection></timeSelection>
  <button id="bookBtn" (click)="bookTrip()">Book rickshaw</button>
</div>
