<div class="pageHolder">
    <header [(isRegister)] = "isRegister" [(isLogin)]="isLogin"></header>
    <div class="first-section">
        <h2 *ngIf="!isRegister && !isLogin">From one destination to another, always on time.</h2>
        <booking *ngIf="!isRegister && !isLogin"></booking>
        <register *ngIf="isRegister"></register>
        <login *ngIf="isLogin"></login>
    </div>

</div>

